.Button {
  &__icon {
    display: inline-block;
    font-size: 18px;

    &--selected-false {
      color: grey;
    }

    &--selected-true {
      color: red;
      // transform: scale(1.5);
    }
  }
}
